html {
    background: url(df.img) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

table {
    border: 1px solid black;
    background-color: rgb(8, 10, 11);
    opacity: 0.90;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

td, th {
    color: white;
    padding: 5px;
}

th {
    text-align: left;
}

.table-and-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bracket-buttons button {
    background-color: rgb(8, 10, 11); /* background */
    opacity: 0.90;
    border: 1px rgba(0, 73, 255, 0.9); /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    width: 100px; /* Set a specific width */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

.bracket-buttons button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.bracket-buttons:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.bracket-buttons button:hover {
    background-color: rgb(21, 128, 61);
}

img.h-8.w-8 {
    height: 1.5rem;
    width: 1.5rem;
}

tr.even {
    background: #0e1216;
}

mark.red {
    color: #ff0000;
    background: none;
}

mark.green {
    color: green;
    background: none;
}

mark.blue {
    color: #0070DD;
    background: none;
}

mark.white {
    color: #FFFFFF;
    background: none;
}

mark.dk-red {
    color: #C41E3A;
    background: none;
}

mark.dark-magenta {
    color: #A330C9;
    background: none;
}

mark.orange {
    color: #FF7C0A;
    background: none;
}

mark.dark-emerald {
    color: #33937F;
    background: none;
}

mark.pistachio {
    color: #8EBA43;
    background: none;
}

mark.light-blue {
    color: #3FC7EB;
    background: none;
}

mark.spring-green {
    color: #00FF98;
    background: none;
}

mark.pink {
    color: #F48CBA;
    background: none;
}

mark.yellow {
    color: #FFF468;
    background: none;
}

mark.purple {
    color: #8788EE;
    background: none;
}

mark.tan {
    color: #C69B6D;
    background: none;
}