html {
    background: url(df.img) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
table {
    border: 1px solid black;
    background-color: rgba(0,0,0,0.9);
    opacity: 0.90;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
td, th {
    color: white;
    padding: 5px;
}
th {
    text-align: left;
}